<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Bar Chart</h2>
  </div>

  <div class="panel-body">
    <p class="alert alert-info">Here is a bar chart example. Try hovering on the bars.</p>

    <svg width=500 height=380>
      <g>
        {{# Bar({data: data, accessor: accessor, width: width, height: height, gutter: gutter, colors: colors }) }}
          {{# curves:num }}
            <path on-mouseenter="detail" on-mouseleave="restore" d="{{ line.path.print() }}" stroke="none" fill="{{ color }}" />
          {{/ curves }}
        {{/ end of bar }}
      </g>
    </svg>
  </div>
</div>
