<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Smooth Line Chart</h2>
    <span class="links">
      <a on-click="coffee">Coffescript</a>
      <a on-click="html">HTML</a>
    </span>
  </div>

  <div class="panel-body">
    <p class="alert alert-info">Here is a smooth line chart example. Try switching data.</p>

    <select value='{{ stock }}'>
      <option value='all'>All</option>
      {{# stocks:num }}
        <option value='{{ num }}'>{{ . }}</option>
      {{/ stocks }}
    </select>

    <svg width=500 height=380>
      <g>
        {{# Line({data: data, xaccessor: xaccessor, yaccessor: yaccessor, width: width, height: height, closed: false }) }}
          {{# curves:num }}
            {{# stock == 'all' || num == 0 }}
              <path d="{{ line.path.print() }}" stroke="{{ colors(index) }}" fill="none" />
              <path d="{{ area.path.print() }}" stroke="none" fill="{{ colors(index) }}" />
            {{/ end if }}
          {{/ curves }}
        {{/ end of stock }}
      </g>
    </svg>
  </div>
</div>
