<h1><a href=https://github.com/andreaferretti/paths-js>Paths.js</a></h1>

<h3>Generate SVG paths for geometric shapes</h3>

<svg width="800" height="100">
  <g transform="translate(100, 0)">
    {{# Bezier({points: points}) }}
      <path on-click="shuffle" d="{{ path.print() }}" stroke="red" fill="none" />
    {{/ end of bezier }}
    {{# points }}
      {{# name(.) }}
        <circle on-click="shuffle" r="5" cx="{{ x }}" cy="{{ y }}" stroke="red" stroke-width="2" fill="white" />
      {{/ end point }}
    {{/ points }}
  </g>
</svg>
