{{# visible }}
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" on-click="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
          <pre>{{{ body }}}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" on-click="close">Close</button>
        </div>
      </div>
    </div>
  </div>
{{/ visible }}