<section class="box">
  <h1>Pie Chart</h1>
  
  <p>Here is a pie chart example. Sectors are clickable.</p>

  <svg width=400 height=400>
    <g transform="translate(200, 200)">
      {{# Pie({center: center, r: r, R: R, data: data, accessor: accessor, colors: colors}): num }}
        <g transform="translate({{ move(sector.centroid, item.expanded) }})">
          <path on-click="expand" d="{{ sector.path.print() }}" fill="{{ color_string(color.r, color.g, color.b) }}" />
          <text text-anchor="middle" transform="translate({{ point(sector.centroid) }})">{{ item.name }}</text>
        </g>
      {{/ end of pie}}
    </g>
  </svg>
</section>
