<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Radar Chart</h2>
  </div>

  <div class="panel-body">
    <p class="alert alert-info">Here is a radar chart example.</p>

    <svg width=375 height=400>
      <g transform="translate(200,200)">
        {{# Radar({center: center, r: r, data: data, accessor: accessor, max: max, colors: colors}).polygons }}
          <path d="{{ polygon.path.print() }}" fill="{{ color_string(color) }}" stroke="{{ color_string(color) }}" />
        {{/ end of radar}}
      </g>
    </svg>
  </div>
</div>
