<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Scatterplot</h2>
  </div>

  <div class="panel-body">
    <p class="alert alert-info">The stock chart can also be used to plot scattered data.</p>

    <p>Rating data for the Twin Peaks episodes.</p>

	  <svg width=500 height=400>
	    <g transform="translate(20, 30)">
	      {{# Stock({data: data, xaccessor: xaccessor, yaccessor: yaccessor, width: width, height: height, closed: false }) }}
	        {{# curves:num }}
	        	{{# line.path.points():count }}
	        		<g transform="{{ translate(.) }}">
		        		<circle r="5" cx="0" cy="0" stroke="{{ colors(num) }}" fill="white"
		        			on-mouseenter="enter" on-mouseleave="leave" />
		        		{{# item[count] }}
		        			{{# selected }}
		        				{{# count < 15 }}
					        		<text transform="translate(15, 5)" text-anchor="start">{{ title }}</text>
		        				{{/ end if }}
		        				{{^ count < 15 }}
					        		<text transform="translate(-15, 5)" text-anchor="end">{{ title }}</text>
		        				{{/ end else }}
				        	{{/ selected }}
				        {{/ end of item }}
				       </g>
	          {{/ end points }}
	        {{/ curves }}
	        <line x1="{{ xscale(0) }}" y1="{{ yscale(9.6) }}" x2="{{ xscale(0) }}" y2="{{ yscale(7.9) }}" />
	        <line x1="{{ xscale(-0.5) }}" y1="{{ yscale(7.95) }}" x2="{{ xscale(32.1) }}" y2="{{ yscale(7.95) }}" />
	        {{# [8, 8.5, 9, 9.5] }}
	        	<g transform="translate({{ xscale(0) }},{{ yscale(.) }})">
		        	<circle r="2" cx="0" cy="0" stroke="grey" fill="grey" />
		        	<text transform="translate(5, 5)" text-anchor="start">{{ . }}</text>
		        </g>
	        {{/ end ratings }}
	      {{/ end of stock }}
	    </g>
	  </svg>
  </div>
</div>
